@using EventZone.Helpers
@using EventZone.Models

@{
    List<Category> listCategory= CommonDataHelpers.Instance.GetAllCategory();
    ViewBag.Title = "ManageReport";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    <style>
        .myButton {
            -moz-box-shadow: inset 0px 0px 2px -29px #cc2288;
            -webkit-box-shadow: inset 0px 0px 2px -29px #cc2288;
            box-shadow: inset 0px 0px 2px -29px #cc2288;
            background-color: #d3ebd9;
            -moz-border-radius: 17px;
            -webkit-border-radius: 17px;
            border-radius: 17px;
            display: inline-block;
            cursor: pointer;
            color: #ffffff;
            font-family: Arial;
            font-size: 17px;
            padding: 7px 14px;
            text-decoration: none;
            text-shadow: 1px 0px 20px #2f6627;
        }


            .myButton:hover {
                background-color: #de45d4;
            }

            .myButton:active {
                position: relative;
                top: 1px;
            }
    </style>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 interactButton" style="margin-left: 5%; margin-bottom: 10px">
        <input type="text" name="Keyword" id="Keyword" class="form-control" aria-label="Text input with segmented button dropdown" placeholder="Search for events or categories" style="width: 250px; display: inline-block">
        <button class="btn btn-default" id="btn-search">
            <span class="glyphicon glyphicon-search"></span>
        </button>
        <button class="myButton" id="filter-all">All</button>
        <button class="myButton" id="filter-locked">Locked</button>
        <button class="myButton" id="filter-pendingReport">Pending Report</button>
        <button class="myButton" id="filter-pendingAppeal">Pending Apeal</button>
        Sort by
        <span class="select-style">
            <select id="category">
                <option value="-1">Default</option>
                @if (listCategory != null)
                {
                    foreach (var item in listCategory)
                    {
                        <option value="@item.CategoryID">@item.CategoryName</option>
                     
                    }
                }
      
            </select>
        </span>
        <div>
            <h4>
                <span id="number-result">
                </span>
            </h4>
        </div>
    </div>

    <div>
        <div style="height:450px" class="scroll-content" id="report-r">
            @Html.Action("SearchReport", "Admin")
        </div>
    </div>
    @Html.Partial("_DescriptionModal")
    <script>
        //showDescription Of Event
        function showModalDescription(eventName, eventDescription) {
            $("#event-name").empty();
            $("#event-name").append("<p>" + eventName + "</p>");
            $("#des-content").empty();
            $("#des-content").append("<p>" + eventDescription + "</p>");
            $("#i_Modal_des").modal("show");
        }
        ///default search
        var all = true;
        var locked = false;
        var pendingReport = false;
        var pendingAppeal = false;
        var page = 2;

        var category = $("#category").val();
        $("#category").change(function () {
            category = $("#category").val();
            $("#report-r").empty();
            page = 1;
            Search();
        })
        var keyword;
        $("#Keyword").change(function () {
            keyword = $("#Keyword").val();

        })
        //button all click
        $("#filter-all").css("background", "#de45d4")
        $("#filter-all").click(function () {
            //mod = false;
            //user = false;
            locked = false;
            pendingReport = false;
            pendingAppeal = false;
            all = true;
            $(".myButton").prop('disabled', false);
            $(".myButton").css("background", "#d3ebd9")
            $("#filter-all").css("background", "#de45d4")
            page = 1;
            $("#reported-r").empty();
            Search();
        })

        ///button locked click
        $("#filter-locked").click(function () {
            if (locked) {
                $("#filter-locked").css("background", "#d3ebd9")
                locked = false;
                page = 1;
                $("#report-r").empty();
                $(".myButton").prop('disabled', true);
                Search();
            }
            else {
                $("#filter-locked").css("background", "#de45d4")
                locked = true;
                $("#filter-all").css("background", "#d3ebd9")
                all = false;
                page = 1;
                $(".myButton").prop('disabled', true);
                $("#report-r").empty();
                Search();
            }
        })
        ///button pending report click
        $("#filter-pendingReport").click(function () {
            if (pendingReport) {
                $("#filter-pendingReport").css("background", "#d3ebd9")
                pendingReport = false;
                page = 1;
                $(".myButton").prop('disabled', true);
                $("#report-r").empty();
                Search();
            }
            else {
                $("#filter-pendingReport").css("background", "#de45d4")
                pendingReport = true;
                $("#filter-all").css("background", "#d3ebd9")
                all = false;
                page = 1;
                $(".myButton").prop('disabled', true);
                $("#report-r").empty();
                Search();
            }
        })

        ///button
        $("#filter-pendingAppeal").click(function () {
            if (pendingAppeal) {
                $("#filter-pendingAppeal").css("background", "#d3ebd9")
                pendingAppeal = false;
                page = 1;
                $(".myButton").prop('disabled', true);
                $("#report-r").empty();
                Search();
            }
            else {
                $("#filter-pendingAppeal").css("background", "#de45d4")
                pendingAppeal = true;
                $("#filter-all").css("background", "#d3ebd9")
                all = false;
                page = 1;
                $(".myButton").prop('disabled', true);
                $("#report-r").empty();
                Search();
            }
        })


        //set time delay when press to search
        var delay = (function () {
            var timer = 0;
            return function (callback, ms) {
                clearTimeout(timer);
                timer = setTimeout(callback, ms);
            };
        })();
        $('#Keyword').keyup(function () {
            delay(function () {
                page = 1;
                $(".myButton").prop('disabled', true);
                $("#report-r").empty();
                Search();
            }, 2000);
        });

        ///ajax search reported event
        function Search() {
            $.ajax({
                url: "/Admin/SearchReport",
                type: "post",
                dataType: "html",
                data: { keyword: keyword, all: all, locked: locked, pendingAppeal: pendingAppeal, pendingReport: pendingReport, category: category, page: page },
                success: function (data) {
                    $(".myButton").prop('disabled', false);
                    $("#report-r").append(data);
                    page = page + 1;
                    $("#loading").remove();
                },
                error: function () {
                    $(".myButton").prop('disabled', false);
                }
            })
        }

        //target scroll
        $(document).ready(function () {
            $('#report-r').bind('scroll', EventScroll);
        });
        function EventScroll(e) {
            var elem = $(e.currentTarget);
            if ((elem.innerHeight() + elem.scrollTop()) >= elem[0].scrollHeight && page >= 2) {
                Search()
            }
        }

    </script>
