/**************************************************** Thêm ***/
.scroll-content {		
overflow: auto; /* This is changed by enscroll, but must be defined */		
width: 100%;   /* The arbitrary width and height of the view pane */		
}		
.vertical-track {		
width: 10px;            /* How wide is the scrollbar going to be? */		
background-color: rgba(0,0,0,0.18); /* What color should the vertical track be? */		
    border-radius: 10px;		
}		
.vertical-handle {		
width: 10px;            /* How wide is the scrollbar handle? */		
background-color: rgba(202,77,32,1); /* What color should the handle be? */		
    border-radius: 10px;		
}
/**************************************************** Sửa BOOTSTRAP ***/
.navbar-inverse {
    border-radius: 0;
}
/****************************************************** Khung hiện Event TRÁI: CSS chung ***/
.d_sum_result strong{
	font-size: 17px;
}
.d_result_container{
	padding: 0;
    overflow-y: auto;
    height: 500px;
}
.d_e_result_container, .d_c_result_container, .d_u_result_container, .d_l_result_container {
	padding-right: 5px;
	padding-left: 5px;
}
.d_e_thumb,
.d_u_thumb,
.d_c_thumb{
	padding: 0;
}
.d_e_thumb img,
.d_u_thumb img,
.d_c_thumb img{
	width: 100%;
	height: auto;
}
.d_u_result_container{
	width: 100%;
	padding: 0;
}
.d_e_title,
.d_u_title,
.d_c_title{
	font-weight: bold;
	padding-right: 0;
}
.d_e_info_cover,
.d_u_info_cover,
.d_c_info_cover{
	padding: 0;
}
.d_c_result_container,
.d_e_result_container,
.d_u_result_container{
	overflow-y: inherit;
    padding-left: 5px;
    padding-right: 5px;
}
.d_event_card_cover,
.d_user_card_cover,
.d_channel_card_cover{
	padding: 5px;
	border-radius: 4px;
	border: 1px lightgrey solid;
}
/**************************************************** Khung STATISTIC ***/

/**************************************************** Khung MANAGE EVENT ***/
/******************************************************* MANAGE EVENT > Từng Event **/
.d_event_card_cover{
	margin-bottom: 10px;
}
.d_e_title{
	max-height: 42px;
	overflow-y: hidden;
}
.d_txt_live{
	padding: 5px 10px;
	color: white;
	font-style: italic;
	background-color: rgba(0,0,0,0.6);
	position: absolute;
	top: 3%;
	left: 3%;
}
.d_e_drop_menu{
	left: -120px;
}
.d_e_info_cover .fa{
	width: 26px;
	height: auto;
}
.d_e_cate,
.d_e_date,
.d_e_follower,
.d_e_time,
.d_e_user,
.d_e_location,
.d_e_btn_desciption{
	display: -webkit-inline-box;
	padding-left: 15px;
	padding-right: 15px;
	width: 35%;
	float: left;
}
.d_e_follower,
.d_e_time,
.d_e_location{
	width: 50%;
}
.d_e_info_cover .fa,
.d_e_info_cover .d_fill_in{
	color: lightgray;
	padding-right: 10px;
}
.d_e_info_cover p{
	margin-bottom: 0px;
}
.d_e_btn_more{
	float: right;
}

/**************************************************** Khung MANAGE USER ***/
/******************************************************* MANAGE USER > Từng User **/
.d_user_card_cover{
	margin-bottom: 10px;
}
.d_u_title{
	max-height: 45px;
	overflow-y: hidden;
}
.d_u_drop_menu{
	left: -120px;
}
.d_u_info_cover .fa{
	width: 26px;
	height: auto;
}
.d_u_cate,
.d_u_date,
.d_u_follower,
.d_u_time,
.d_u_user,
.d_u_location,
.d_u_btn_desciption{
	display: -webkit-inline-box;
	padding-left: 15px;
	padding-right: 15px;
	width: 35%;
	float: left;
}
.d_u_follower,
.d_u_time,
.d_u_location{
	width: 50%;
}
.d_u_info_cover .fa,
.d_u_info_cover .d_fill_in{
	color: lightgray;
	padding-right: 10px;
}
.d_u_info_cover p{
	margin-bottom: 0px;
}
.d_u_btn_more{
	float: right;
}

/**************************************************** Khung REPORT ***/

/**************************************************** Khung APPEAL ***/
.d_a_cate,
.d_a_follower,
.d_a_user,
.d_a_btn_desciption,
.d_a_txt_reason,
.d_a_txt_total,
.d_a_data{
	display: -webkit-inline-box;
	padding-left: 15px;
	padding-right: 15px;
	width: 35%;
	float: left;
}
.d_a_btn_desciption{
	width: 65%;
}
.d_a_data{
	width: 10%;
}
.d_a_txt_total,
.d_a_txt_reason{
	width: 15%;
}
/**************************************************** Decorate khác ***/
.d_admin_body{
	overflow-y: scroll;
}

.d_me_container,
.d_mu_container,
.d_re_container,
.d_ae_container{
	padding: 0;
}
.d_mu_btn_group button,
.d_me_btn_group button{
	margin-bottom: 10px;
}
#i_frame_info{
	padding-left: 0;
}