@model EventZone.Models.ForgotViewModel
@{
    ViewBag.Title = "Find lost Password";
}

<div class="modal fade d_modal" id="myModal3" role="dialog">
    <div class="modal-dialog" style="margin-top: 120px; width: 30%;">
        <!-- Modal content-->
        <div class="panel panel-info d_margin_top">
            <div class="panel-heading">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="panel-title">Forget Password</div>
            </div>
            <div style="padding-top: 10px" class="panel-body">
                @using (Ajax.BeginForm("HandleForgotPass", "Account", FormMethod.Post, new AjaxOptions
                {
                    HttpMethod = "POST",
                    OnSuccess = "OnForgotPasswordRequestSucceeded"
                }, new { id = "ForgotPasswordForm" }))
                {
                    @Html.AntiForgeryToken()
                    <div id="ForgotPasswordInfo"></div>
                    <div class="cover_all_functions" style="text-align: -webkit-center;">
                        <p>Please enter your e-mail:</p>
                        <div style="margin-bottom: 15px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                        </div>
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
                    <div class="form-group" style="text-align: center;">
                        <input type="submit" class="btn btn-success" value="Reset" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/Account/ForgotAccount.js"></script>