/* USER CREATE EVENT CSS */
.note-popover .popover .popover-content, .panel-heading.note-toolbar{
    padding: 5px;
}
/*** Sửa file BOOTSTRAP ***/
img {
    height: 200px;
    max-width: 100%;
}
.form-group {
    margin: 0;
}
	/*************************************************** KHUNG ĐĂNG KÝ ***/				
.body-content{
    width: 60%;
    margin-left: 20%;
}	
.d_white_bg{
    width: 60%;
    margin-left: 20%;
}
#i_required_mark{
    color: red;
}
#imageView img {		
    width: 100%;		
}		
#LocationInput div{				
    margin-top: 5px;				
}				
#LocationInput .glyphicon{				
    color: #fff;				
}	
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
     
.tab-content {
    background-color: white;
    overflow: initial;
    padding: 10px 0;
}

.row {
 margin: 5px 0;
}

.row .form-control { padding-left: 2px; }



/*** Sửa plugin khác ***/

#editor {
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 200px;
    overflow-y: scroll;
    padding: 5px;
    width: 100%;
    
}

.nav { margin-bottom: 0px; }

.btn-group { margin-bottom: 5px; }

.btn-group .dropdown-menu { width: 300px; }

.btn-group .dropdown-menu .span2 {
    float: left;
    height: 34px;
    margin-left: 10px;
    width: 229px;
}


.d_leftside .btn-link { padding: 0px; }

/* Basic info tab */

.d_row { height: auto; }

#i_info_tab { width: 100%; }

.d_thumbnail {
    height: auto;
    margin: 0 auto;
    width: 50%;
}

#i_thumb {
    height: auto;
    width: 100%;
}

label#i_request { font-weight: normal; }

#i_info_tab .btn-danger { /* cho nút Xóa sát vào */
    margin-left: -15px;
}

.d_btn_x { /* Sửa do ảnh hưởng của CSS plugin khác */
    margin-top: 5px;
}

.row input { margin-top: auto; }

.row .btn { margin-top: auto; }

.row input[type="radio"] { margin-top: 4px; }

.row input[type="checkbox"] { margin-top: -1px; }

/* Basic info tab > Description */

.d_first_btn_group { }

.btn-group .caret {
    margin-left: 5px;
    margin-top: inherit;
}
	#i_group_btn{		
    margin-bottom: 50px;		
}
/* Image tab */

